%tr{class: training.cancelled? ? 'training-cancelled' : ''}
  %td.link_column
    = link_to section_training_path(training, section_id: current_section.to_param), class: :eye_link do
      %span.glyphicon.glyphicon-eye-open
  %td
    %div= training.start_datetime.strftime("%-d %b %Y %R")
    = render partial: 'locations/gmaps_link', locals: {location: training.location}
  %td.hidden-xs><
    - training.groups.each do |group|
      %span{'data-toggle'=> :tooltip, title: group.description}= group.name

  - if training.cancelled?
    %td.training-cancelled(colspan='2')
      ENTRAINEMENT ANNULÉ :
      = training.cancel_reason
    - if current_user.is_coach_of?(current_section)
      %td
        = button_to 'Ne plus annuler', uncancel_section_training_path(training, section_id: current_section), method: :delete, id: "training_invitations_#{training.id}", class: 'btn btn-danger btn-sm', form_class: 'd-inline-block'
  - else
    %td.hidden-xs
      - tooltip = "#{training.nb_presents} présents<br/>#{training.nb_not_presents} absents<br/>#{training.nb_presence_not_set} sans réponse"
      = render partial: 'matches/presences', locals: {tooltip: tooltip, link_url: section_training_path(training, section_id: current_section.to_param), nb_presents: training.nb_presents, nb_not_presents: training.nb_not_presents, nb_no_response: training.nb_presence_not_set}
    - if current_user.is_player_of?(current_section)
      %td
        - if training.users.include?(current_user)
          - if current_user.is_present_for?(training).nil?
            = link_to 'Présent ?', section_user_training_training_presences_path(current_section, current_user, training), method: :post, class: 'btn btn-sm btn-success text-nowrap'
            = link_to 'Non présent ?', section_user_training_training_presences_path(current_section, current_user, training), method: :delete, class: 'btn btn-sm btn-danger text-nowrap'
          - elsif current_user.is_present_for?(training) == true
            %div.training_presence{class: 'bg-success text-nowrap'} Présent !
            = link_to 'Non présent', section_user_training_training_presences_path(current_section, current_user, training), method: :delete, class: 'change_presence not_present text-nowrap'
          - else
            %div.training_presence{class: 'bg-danger text-nowrap'} Non présent !
            = link_to 'Présent', section_user_training_training_presences_path(current_section, current_user, training), method: :post, class: 'change_presence present text-nowrap'
    - if current_user.is_coach_of?(current_section)
      %td
        = button_to 'Relancer les indécits', invitations_section_training_path(training, section_id: current_section), id: "training_invitations_#{training.id}", class: 'btn btn-warning btn-sm', form_class: 'd-inline-block'
        %a{href: "#cancel-training-#{training.id}", 'data-toggle'=>"collapse"}
          Annulation

        .collapse{id: "cancel-training-#{training.id}"}
          = form_tag(cancellation_section_training_path(training, section_id: current_section), method: :post) do
            = text_field(:cancellation, :reason, placeholder: 'Raison de l\'annulation')
            = submit_tag('Annuler l\'entrainement', class: 'btn btn-danger btn-sm')
