%tr
  %td= training.start_datetime.strftime("%-d %b %Y")
  %td= training.start_datetime.strftime("%R")
  %td= training.location.try(:name)
  %td= current_user.is_present_for?(training)
  %td
    = button_to 'Envoyer les invitations', invitations_section_training_path(training, section_id: current_section), id: "training_invitations_#{training.id}"