%h2
  Entrainement du 
  = @training.start_datetime.strftime("%-d/%-m/%Y")

  - if current_user.is_coach_of?(current_section)
    .action
      = link_to edit_section_training_path(current_section, @training) do
        %span.glyphicon.glyphicon-pencil
      = link_to section_training_path(@training, section_id: current_section), :method => :delete, :data => { :confirm => 'Are you sure?' } do 
        %span.glyphicon.glyphicon-trash  

%p
  = render partial: 'locations/gmaps_link', locals: {location: @training.location}
  %br
  Groupes : 
  = @training.groups.map(&:name).join(", ")

.row
  .col-md-4
    .panel.panel-success
      .panel-heading 
        Joueurs présents
      %ul.list-group
        - @training.presents.sort_by(&:full_name).each do |user|
          %li.list-group-item= user.full_name
  .col-md-4
    .panel.panel-warning
      .panel-heading 
        Joueurs non présents
      .list-group
        - @training.not_presents.sort_by(&:full_name).each do |user|
          %li.list-group-item= user.full_name
  .col-md-4
    .panel.panel-danger
      .panel-heading 
        Pas de réponse
      .list-group
        - @training.presence_not_set.sort_by(&:full_name).each do |user|
          %li.list-group-item= user.full_name
