= simple_form_for [current_section, @duty_task] do |f|
  = f.error_notification

  .form-inputs
    = f.input :key, collection: DutyTask::TASK_NAMES_COLLECTION, input_html: { class: 'text-lg' }
    = f.association :user, collection: current_section.players.sort_by(&:full_name), input_html: { data: { controller: 'ts--select' }, class: 'px-0 py-0 text-lg' }, selected: current_user.id
    = f.input :realised_at

  .form-actions
    = f.button :submit, class: 'btn-primary'
