= simple_form_for [current_section, @duty_task] do |f|
  = f.error_notification

  .form-inputs
    = f.input :key, collection: DutyTask::TASK_NAMES_COLLECTION
    = f.association :user, collection: current_section.players.sort_by(&:full_name), input_html: { class: 'select2' }, selected: current_user.id
    = f.input :realised_at

  .form-actions
    = f.button :submit, class: 'btn-primary'
