.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        %h3.panel-title
          Tâches collectives
          = link_to new_section_duty_task_path(current_section), title: 'créer une nouvelle tache', class: 'btn btn-xs btn-default' do
            %span.glyphicon.glyphicon-plus

      .panel-body
        %table.table
          %thead
            %tr
              %th Date
              %th Tache
              %th Qui ?
              %th

          %tbody
            - @duty_tasks.each do |duty_task|
              %tr
                %td= duty_task.realised_at.to_date.to_s(:long)
                %td= duty_task.name
                %td= duty_task.user.short_name
                %td
                  = link_to edit_section_duty_task_path(current_section, duty_task), title: 'Éditer', class: 'btn btn-xs btn-default' do
                    %span.glyphicon.glyphicon-edit

                  = button_to [current_section, duty_task], method: :delete, data: { confirm: 'Sûr ?' }, class: 'btn btn-xs btn-default' do
                    %span.glyphicon.glyphicon-trash
