.authform
  %h3
    Edit #{resource_name.to_s.humanize}
  = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = f.input :email
    %p Leave these fields blank if you don't want to change your password.
    = f.input :password
    = f.input :password_confirmation
    %p You must enter your current password to make changes.
    = f.input :current_password
    = f.button :submit, value: 'Update'
