= "Bonjour #{@user.first_name},"

- next_duty_list = @next_training_duties[1..-1].map(&:full_name).join(', ')

- if @user == @next_training_duties.first
  %p
    Tu es désigné pour laver les chasubles après l'entrainement du
    = @training.start_datetime.strftime("%A %-d %HH%M")
  %p
    Si tu ne peux pas cet entrainement, trouve un remplaçant, et tu le feras la prochaine fois.
    Les prochains sur la liste sont, dans l'ordre :
    = next_duty_list
  %p
    Une fois les chasubles lavés, pense à le renseigner ici : https://www.martigua.org/sections/1-Homme%20+16/duty_tasks

- else
  %p
    Le joueur désigné pour laver les chasubles après l'entrainement du
    = @training.start_datetime.strftime("%A %-d %HH%M")
    est
    = @next_training_duties.first.full_name

  %p
    Les joueurs suivants sur la liste sont, dans l'ordre :
    = next_duty_list

Bon entrainement
