= simple_form_for [current_section, @championship] do |f|
  = f.error_notification
  = hidden_field_tag :_redirect_url, request.original_url
  = hidden_field_tag :default_team_id, params[:section_team_id]
  .form-inputs
    = f.input :name
    = f.association :calendar, collection: @championship.season.calendars
  = link_to "Calendriers (si le calendrier voulu n'apparaît pas dans la liste)", section_calendars_path(section: current_section)
  .form-actions
    = f.button :submit, class: 'btn btn-primary'