%h1= @championship.name

.row
  .col-md-8
    .panel.panel-primary
      .panel-heading 
        Matchs
      - if @championship.matches.count == 0
        Aucun match dans cette compétition
      - else
        = render partial: 'matches/matches', object: @championship.matches.date_ordered, locals: { championship: @championship }
    = link_to 'Ajouter un match', new_section_championship_match_path(current_section, @championship), class: 'btn btn-primary'
  .col-md-4
    .panel.panel-primary
      .panel-heading 
        Equipes enregistrées
      %ul.list-group
        - if @championship.teams.size == 0
          %li.list-group-item Aucune équipe dans cette compétition
        - else
          - @championship.teams.each do |team|
            %li.list-group-item= team.name
        %li.list-group-item 
          = link_to 'Modifier les équipes de cette compétition', section_championship_enrolled_team_championships_path(current_section, @championship), class: 'btn'
