%h2
  = @championship.name
  - if current_section && current_user.coach_of?(current_section)
    .action
      = link_to edit_section_championship_path(current_section, @championship) do
        %span.glyphicon.glyphicon-pencil

- if @championship.teams.size == 0
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
      %div{:class => "alert alert-danger"}
        .text-center
          %p
            Attention, cette compétition ne sera visible uniquement si une équipe du club est engagée dedans.
          %p
            1ère chose à faire : modifier les équipes et y inscrire une équipe du club.
          %p
            = link_to 'Modifier les équipes de cette compétition', section_championship_enrolled_team_championships_path(current_section, @championship), class: 'btn btn-primary'

.row
  .col-md-8
    .panel.panel-primary
      .panel-heading
        Matchs
      - if @championship.matches.count == 0
        Aucun match dans cette compétition.
      - else
        = render partial: 'matches/matches', object: @championship.matches.join_day.date_ordered, locals: { championship: @championship }
    = link_to 'Ajouter un match', new_section_championship_match_path(current_section, @championship), class: 'btn btn-primary'
  .col-md-4
    .panel.panel-primary
      .panel-heading
        Equipes enregistrées
      %ul.list-group
        - if @championship.teams.size == 0
          %li.list-group-item Aucune équipe dans cette compétition.
        - else
          - @championship.teams.each do |team|
            %li.list-group-item= team.name
        - if current_section && current_user.coach_of?(current_section)
          %li.list-group-item
            = link_to 'Modifier les équipes de cette compétition', section_championship_enrolled_team_championships_path(current_section, @championship), class: 'btn'
