%h1
  Journée
  = @day.name
.row
  .col-md-3.col-xs-3
    .row
      .col-md-12.col-xs-12
        .panel
          .panel-heading
            Joueurs Dispos
          %ul.list-group
    .row
      .col-md-12.col-xs-12
        .panel
        .panel-heading
          Joueurs pas de réponses
        %ul.list-group
    .row
      .col-md-12.col-xs-12
        .panel
        .panel-heading
          Joueurs non dispos
        %ul.list-group

  - @teams_with_matches.each do |team, match|
    .col-md-3.col-xs-3
      .panel.panel-primary
        .panel-heading
          .text-center
            %strong= team.name
          .text-center
            %em= "#{match.local_team.name} - #{match.visitor_team.name}"
        %ul.list-group
          - match.selections(team).sort{|a, b| a.user.short_name <=> b.user.short_name}.each do |selection|
            %li.list-group-item
              .user.inline
                - user = selection.user
                = user.short_name
                = form_tag section_selection_path(current_section, match, selection), class: 'inline', role: 'form', method: :delete do
                  %button.btn.btn-link.btn-xs{type: :submit}
                    %span.glyphicon.glyphicon-remove
              .pull-right
                / pour les autres matchs,
                / si le joueur est dispo,
                / mettre un lien qui le déplace vers l'autre match
                - @teams_with_matches.reject{|t, m| m == match && t == team }.each do |other_team, other_match|
                  - if user.is_available_for?(other_match)
                    = form_tag selection_section_match_path(current_section, other_match, user_id: user.id, team_id: other_team.id), class: 'inline', role: 'form' do
                      %button.btn.btn-link.btn-xs{type: :submit}= "#{other_team.name} !"
                  - else
                    %s= other_team.name


