%tr
  %td
    %strong
      = user.first_name
      = user.last_name
    - if user.nickname
      %em= user.nickname
  %td
    - if user.email
      = mail_to user.email
  %td
    - if user.phone_number
      = link_to user.phone_number, "tel:#{user.phone_number}"
  %td
    - user.groups.to_a.select { |group| group.section_id == current_section.id && group.season_id == Season.current.id && !group.system }.each do |group|
      = link_to section_group_path(current_section, group) do
        .group-box{style: "background-color: #{group.color}", 'data-toggle' => "tooltip", 'data-title' => group.name}
  - if current_section
    %td
      = user.participations.to_a.select{ |participation| participation.section_id == current_section.id && participation.season_id == Season.current.id }.map(&:role).sort.reverse.join(", ")
    %td.presence-box.flex-nowrap
      - @last_trainings.each do |training|
        %span.glyphicon.glyphicon-stop{title: training.name, class: user.was_present?(training, @presences_by_user_and_training) ? 'green' : 'red'}

  - if current_user.coach_of?(current_section)
    %td.action
      = link_to edit_section_user_path(current_section, user, returns_to: request.env['PATH_INFO']) do
        %span.glyphicon.glyphicon-edit
      - if defined?(group) && group
        - unless group.system?
          = link_to section_group_user_path(current_section, group, user), :method => :delete, :data => { :confirm => 'Supprimer du groupe ?' } do
            %span.glyphicon.glyphicon-trash
      - else
        = link_to section_user_path(current_section, user), :method => :delete, :data => { :confirm => 'Supprimer de la section ?' } do
          %span.glyphicon.glyphicon-trash


