- if current_section && current_user.coach_of?(current_section)
  .text-center
    = link_to 'Ajouter un joueur', new_section_section_user_invitation_path(current_section), class: 'btn btn-primary'
    = link_to 'Renouveller de l\'année précédente', section_participations_renewal_index_path(current_section), class: 'btn'

%h3= "#{@users.count} membres"

= render partial: 'users/users', object: @users
