<div id="<%= dom_id injury %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= injury.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= injury.start_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End at:</strong>
    <%= injury.end_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= injury.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= injury.comment %>
  </p>

</div>
