
#sign_in_panel.panel.panel-default
  .panel-body
    = simple_form_for(resource, :as => resource_name, :url => session_path(resource), html:{ role: 'form', class: :sign_in}) do |f|
      = f.input :email, placeholder: 'Email', label: false
      = f.password_field :password, placeholder: 'Mot de passe', class: 'form-control'
      = f.button :submit, class: 'btn btn-large btn-primary', value: 'Se connecter'
      .remember_forgot
        %label.remember_me
          = f.check_box :remember_me
          Se souvenir de moi
        \-
        = link_to "Mot de passe oublié ?", new_password_path(:user), class: :forgot
