%li.list-group-item.player-draggable{'data-player_id' => player.id}
  .row.compact
    .col-md-3
      .dropdown
        %button.btn.btn-link.btn-xs{id: "assign-#{player.id}", type: :button, 'data-toggle' => "dropdown", 'aria-haspopup' => true, 'aria-expanded' => "false"}
          = player.short_name
        %ul.dropdown-menu{'aria-labelledby' => "assign-#{player.id}"}
          - teams_with_matches.each do |team, match|
            %li
              = form_tag selection_section_match_path(current_section, match, user_id: player.id, team_id: team.id), class: 'inline with-waiter', role: 'form', id: "mtp-#{match.id}-#{team.id}-#{player.id}", remote: true do
                %button.btn.btn-link.btn-xs{type: :submit}
                  - case @availabilities_by_user_and_match[player.id].try(:[], match.id)
                  - when true
                    = "#{team.name} !"
                  - when false
                    %s.hidden-link.not-available= team.name
                  - else
                    %s.hidden-link.not-respond= team.name
    .col-md-5.presence-box.text-right.flex-nowrap
      - @last_trainings ||= Training.of_section(current_section).with_start_between(2.months.ago, 6.hours.from_now).last(10)
      - @last_trainings.each do |training|
        %span.glyphicon.glyphicon-stop{class: player.was_present?(training) ? 'green' : 'red'}
    .col-md-4.text-right
      - teams_with_matches = teams_with_matches.reject{|t, m| m == selection.match && t == selection.team } if selection.present?
      - teams_with_matches.each do |team, match|
        = form_tag selection_section_match_path(current_section, match, user_id: player.id, team_id: team.id), class: 'inline with-waiter', role: 'form', id: "mtp-#{match.id}-#{team.id}-#{player.id}", remote: true do
          %button.btn.btn-link.btn-xs{type: :submit}
            - case @availabilities_by_user_and_match[player.id][match.id]
            - when true
              = "#{team.name} !"
            - when false
              %s.hidden-link.not-available= team.name
            - else
              %s.hidden-link.not-respond= team.name
      - if selection.present?
        = form_tag section_selection_path(current_section, selection.match, selection), class: 'inline with-waiter', role: 'form', method: :delete do
          %button.btn.btn-link.btn-xs{type: :submit}
            %span.glyphicon.glyphicon-remove
