%h1
  Journée
  = @day.name
.row
  .col-md-4.col-xs-4
    .row
      .col-md-12.col-xs-12
        .panel.panel-success
          .panel-heading
            %button.btn.btn-link.btn-block.text-left{'data-toggle' => "collapse", 'data-target' => '#available-players'}
              Joueurs Dispos
              = "(#{@available_players.count})"
          %ul.list-group.collapse.in#available-players
            - @available_players.each do |player|
              = render partial: 'player', object: player, locals: {teams_with_matches: @teams_with_matches, selection: nil, display_teams: true}


    .row
      .col-md-12.col-xs-12
        .panel.panel-warning
          .panel-heading
            %button.btn.btn-link.btn-block{'data-toggle' => "collapse", 'aria-expanded' => false, 'data-target' => '#no-response-players'}
              Joueurs sans réponses
              = "(#{@no_response_players.count})"
          %ul.list-group.collapse.in#no-response-players
            - @no_response_players.each do |player|
              = render partial: 'player', object: player, locals: {teams_with_matches: @teams_with_matches, selection: nil, display_teams: false}
    .row
      .col-md-12.col-xs-12
        .panel.panel-danger
          .panel-heading
            %button.btn.btn-link.btn-block{'data-toggle' => "collapse", 'aria-expanded' => false, 'data-target' => '#non-available-players'}
              Joueurs non dispos
              = "(#{@non_available_players.count})"
          %ul.list-group.collapse.in#non-available-players
            - @non_available_players.each do |player|
              = render partial: 'player', object: player, locals: {teams_with_matches: @teams_with_matches, selection: nil, display_teams: false}
  .col-md-8.col-xs-8
    .row
      - @teams_with_matches.each do |team, match|
        - selections = match.selections(team).includes(:match).includes(:team).includes(user: :match_availabilities).sort{|a, b| a.user.short_name <=> b.user.short_name}
        .col-md-6.col-xs-6
          .panel.panel-primary.team-droppable{'data-match_id' => match.id, 'data-team_id' => team.id}
            .panel-heading
              .text-center
                %strong= team.name
                = "(#{selections.count})"
              .text-center.white
                = link_to section_match_path(current_section, match) do
                  %em= "#{match.local_team.name} - #{match.visitor_team.name}"
            %ul.list-group{'id' => "selection-match-#{match.id}"}
              - selections.each do |selection|
                = render partial: 'player', object: selection.user, locals: { teams_with_matches: @teams_with_matches, selection: selection, display_teams: false}
    .row
      .col-md-9.col-xs-9
        %p
          %a(href="#mail-collapse" data-toggle="collapse")
            Pour envoyer les mails, c'est ici...

        - all_mails = current_section.members.map(&:email).join(',')
        #mail-collapse.collapse
          %p
            1) Click sur le boutton lancer un mail (y'a tous les emails de tout le monde et le sujet déjà renseigné)
            %br
            %a.btn.btn-info{target: '_blank', href: "mailto:#{all_mails}?subject=Compositions de la journée du #{@day.name}"}
              Lancer un mail

          %p
            2) Copie à la main (parce qu'automatiquement on perd le formattage) le texte qui s'affiche en dessous
            %div#mail-compo
              %hr
              - @teams_with_matches.each do |team, match|
                - selections = match.selections(team).includes(user: :match_availabilities).sort{|a, b| a.user.short_name <=> b.user.short_name}
                %p
                  %h3= team.name
                  Match :
                  %strong= "#{match.local_team.name} - #{match.visitor_team.name}"
                  %br
                  Début du Match :
                  %strong= match.date
                  - if match.meeting_datetime
                    %br
                    Rendez-vous :
                    %strong= match.meeting_datetime.to_s(:short)
                  %br
                  Lieu :
                  %strong
                    = render partial: 'locations/gmaps_link', locals: { location: match.location }

                %p
                  Composition
                  = selections.size
                  ':
                  %strong
                    = selections.map(&:user).map(&:short_name).join(', ')

                %hr
          %p
            3) Modifie comme tu veux le mail

          %p
            4) Send !
