= simple_form_for [current_section, @championship, @match] do |f|
  = f.error_notification

  .form-inputs
    = f.association :local_team, collection: @championship.teams.order(:name)
    = f.association :visitor_team, collection: @championship.teams.order(:name)
    = f.input :start_datetime
    = f.input :end_datetime
    = f.input :prevision_period_start
    = f.input :prevision_period_end
    = f.association :location
    = f.input :meeting_datetime
    = f.input :meeting_location

  .form-actions
    = f.button :submit
