= simple_form_for [current_section, @championship, @match] do |f|
  = f.error_notification

  .form-inputs
    = hidden_field_tag 'match[championship_id]', params[:match][:championship_id] if params[:match]
    = f.association :local_team, collection: @championship.teams.order(:name)
    .switch-teams
      %a#switch-teams.btn(title='switch teams' href='#')
        %span.glyphicon.glyphicon-retweet
    = f.association :visitor_team, collection: @championship.teams.order(:name)
    = f.association :location, input_html: { class: 'select2' }
    = f.association :day, collection: @championship.calendar.days.order('period_start_date ASC'), hint: "Jour de match"
    = f.input :start_datetime, as: :string, input_html: { class: 'datetimepicker' }
    = f.input :meeting_datetime, as: :string, input_html: { class: 'datetimepicker' }, hint: "Si vide, une heure avant."
    = f.input :meeting_location

  .form-actions
    = f.button :submit, class: 'btn btn-primary'
