= simple_form_for [current_section, @championship, @match] do |f|
  = f.error_notification

  .form-inputs
    = f.association :local_team, collection: @championship.teams.order(:name)
    = f.association :visitor_team, collection: @championship.teams.order(:name)
    = f.association :location
    = f.input :start_datetime, as: :date_time_picker, wrapper_html: { class: :pick_datetime }
    = f.input :prevision_period_start, as: :date_time_picker, wrapper_html: { class: :pick_date }
    = f.input :prevision_period_end, as: :date_time_picker, wrapper_html: { class: :pick_date }
    = f.input :meeting_datetime, as: :date_time_picker, wrapper_html: { class: :pick_datetime }
    = f.input :meeting_location

  .form-actions
    = f.button :submit
