%tr
  %td.link_column
    - match_link_url = defined?(championship) ? section_championship_match_path(current_section, championship, match) : section_match_path(current_section, match)
    = link_to match_link_url, class: :eye_link do
      %span.glyphicon.glyphicon-eye-open
  %td
    %div= match.date
    = render partial: 'locations/gmaps_link', locals: { location: match.location }
  %td
    = match.local_team.name
    \-
    = match.visitor_team.name
  %td
    = link_to match_link_url do 
      (
      %span{class: 'text-success'}><= match.nb_availables
      \/
      %span{class: 'text-danger'}><= match.nb_not_availables
      \/
      %span{class: 'text-warning'}><= match.nb_availability_not_set
      )
  - if current_user.is_player_of?(current_section)
    %td
      - if match.users.include?(current_user)
        - if current_user.is_available_for?(match).nil?
          = link_to 'Dispo ?', match_availabilities_user_path(current_user, present_ids: [match.id], checked_ids: [match.id]), method: :post, class: 'btn btn-sm btn-success text-nowrap'
          = link_to 'Non dispo ?', match_availabilities_user_path(current_user, present_ids: [match.id], checked_ids: []), method: :post, class: 'btn btn-sm btn-danger text-nowrap'
        - elsif current_user.is_available_for?(match) == true
          %div.training_presence{class: 'bg-success text-nowrap'} Dispo !
          = link_to 'Non dispo', match_availabilities_user_path(current_user, present_ids: [match.id], checked_ids: []), method: :post, class: 'change_presence not_present text-nowrap'
        - else
          %div.training_presence{class: 'bg-danger text-nowrap'} Non dispo !
          = link_to 'Dispo', match_availabilities_user_path(current_user, present_ids: [match.id], checked_ids: [match.id]), method: :post, class: 'change_presence present text-nowrap'
  -# - if current_user.is_coach_of?(current_section)
  -#   %td
      -# = button_to 'Relancer les indécits', invitations_section_training_path(training, section_id: current_section), id: "training_invitations_#{match.id}", class: 'btn btn-warning btn-sm'
