%h1
  Nouveau match
  - if params[:section_team_id].present?
    \-
    = Team.find(params[:section_team_id]).name
  - if params[:championship_id].present?
    \-
    = Championship.find(params[:championship_id]).name

- if params[:section_team_id].present? && params[:adversary_team_id].present? && (params[:match].present? && params[:match][:championship_id].present? && params[:match][:day_id].present? && params[:match][:location_id].present? )
  = render 'form'

- elsif params[:section_team_id].blank?
  = simple_form_for new_section_match_path(current_section), method: :get do |f|
    = label_tag :section_team_id, 'Quelle équipe ?'
    = select_tag :section_team_id, options_for_select(current_section.teams.pluck(:name, :id))
    = f.submit 'next'

- elsif params[:match].blank? || params[:match][:championship_id].blank?
  = simple_form_for new_section_match_path(current_section), method: :get do |f|
    = hidden_field_tag :section_team_id, params[:section_team_id]
    = label_tag 'match[championship_id]', 'Quelle compétition ?'
    = select_tag 'match[championship_id]', options_for_select(@section_team.championships.of_current_season.pluck(:name, :id))
    = f.submit 'next'

  %a(href="#new-championship-collapse" data-toggle="collapse")
    Ajouter une compétition
  #new-championship-collapse.collapse
    = render 'championships/form'

- elsif params[:match].blank? || params[:match][:day_id].blank?
  = simple_form_for new_section_match_path(current_section), method: :get do |f|
    = hidden_field_tag :section_team_id, params[:section_team_id]
    = hidden_field_tag 'match[championship_id]', params[:match][:championship_id]
    = label_tag 'match[day_id]', 'Quel jour ?'
    = select_tag 'match[day_id]', options_for_select(@championship.calendar.days.pluck(:name, :id))
    = f.submit 'next'

  %a(href="#new-day-collapse" data-toggle="collapse")
    Ajouter une journée

  #new-day-collapse.row.collapse
    .col-md-6.col-xs-12
      - @new_day = Day.new(calendar: @championship.calendar)
      = simple_form_for [current_section, @new_day] do |f|
        = f.error_notification
        .form-inputs
          = hidden_field_tag :_redirect_url, request.original_url
          = f.input :period_start_date, as: :string, input_html: { class: 'newday-psd' }
          = f.input :name, input_html: { 'data-default-name' => @new_day.name }
          = f.hidden_field :calendar_id
        .form-actions
          = f.button :submit

- elsif params[:match].blank? || params[:match][:location_id].blank?
  = simple_form_for new_section_match_path(current_section), method: :get do |f|
    = hidden_field_tag :section_team_id, params[:section_team_id]
    = hidden_field_tag 'match[championship_id]', params[:match][:championship_id]
    = hidden_field_tag 'match[day_id]', params[:match][:day_id]
    = label_tag 'match[location_id]', 'Quel lieu ?'
    = select_tag 'match[location_id]', options_for_select(Location.all.pluck(:name, :id)), class: :select2
    = f.submit 'next'

  %a(href="#new-location-collapse" data-toggle="collapse")
    Ajouter un lieu

  #new-location-collapse.row.collapse
    .col-md-6.col-xs-12
      - @new_location = Location.new
      = simple_form_for [current_section, @new_location] do |f|
        = f.error_notification
        .form-inputs
          = hidden_field_tag :_redirect_url, request.original_url
          = f.input :name
          = f.input :address
        .form-actions
          = f.button :submit

- elsif params[:adversary_team_id].blank?
  = simple_form_for new_section_match_path(current_section), method: :get do |f|
    = hidden_field_tag :section_team_id, params[:section_team_id]
    = hidden_field_tag 'match[championship_id]', params[:match][:championship_id]
    = hidden_field_tag 'match[day_id]', params[:match][:day_id]
    = hidden_field_tag 'match[location_id]', params[:match][:location_id]
    = label_tag :adversary_team_id, 'Equipe adverse ?'
    = select_tag :adversary_team_id, options_for_select(Team.all.order('name').pluck(:name, :id)), class: :select2
    = f.submit 'next'

  %a(href="#new-location-collapse" data-toggle="collapse")
    Ajouter une équipe

  #new-location-collapse.row.collapse
    .col-md-6.col-xs-12
      - @team = Team.new
      = simple_form_for [current_section, @team] do |f|
        = hidden_field_tag :championship_id, params[:championship_id]
        = f.error_notification
        .form-inputs
          = hidden_field_tag :_redirect_url, request.original_url
          = f.input :name
        .form-actions
          = f.button :submit

