.row
  .col-md-12
    %h2
      = @match.local_team.name
      \-
      = @match.visitor_team.name
    %p
      = @match.date
    %p
      %b Score final :
      = @match.local_score
      \-
      = @match.visitor_score
    %p
      %b Location :
      = @match.location.try(:name)
    %p
      %b Meeting datetime :
      = @match.meeting_datetime
    %p
      %b Meeting location :
      = @match.meeting_location

    = link_to 'Edit', edit_section_championship_match_path(current_section, @match.championship, @match)


- section_teams = @match.teams & current_section.teams
.row 
  .col-md-6
    .panel.panel-success
      .panel-heading 
        - all_availables = @match.availables.select{|user| user.sections.include? current_section}
        = "#{all_availables.size} Joueurs dispos (#{all_availables.size - @users_already_selected.size} non sélectionnés)" 
      %ul.list-group
        - all_availables.sort_by(&:full_name).each do |user|
          - if user.sections.include? current_section
            %li.list-group-item
              - if @users_already_selected.include?(user)
                .user.inline
                  %em= user.full_name 
                .pull-right
                  %em= @team_by_user[user].name
  
              - else
                .user.inline
                  %strong= user.full_name
                .pull-right
                  - section_teams.each do |team|
                    = form_tag selection_section_match_path(current_section, @match, user_id: user.id, team_id: team.id), class: 'inline', role: 'form' do
                      %button.btn.btn-link.btn-xs{type: :submit}= "#{team.name} !"
                  = button_to 'Non dispo ?', section_user_match_availabilities_path(current_section, user, present_ids: [@match.id], checked_ids: []), method: :post, class: 'change_presence not_present text-nowrap'

  - section_teams.each do |team|
    .col-md-3
      .panel.panel-primary
        .panel-heading
          = "Selection #{team.name} (#{@match.selections(team).count} joueurs)"
        %ul.list-group
          - @match.selections(team).each do |selection|
            %li.list-group-item
              = selection.user.full_name
              = form_tag section_selection_path(current_section, @match, selection), class: 'inline', role: 'form', method: :delete do              
                %button.btn.btn-link.btn-xs{type: :submit}
                  %span.glyphicon.glyphicon-remove

.row
  .col-md-4.col-md-offset-1
    .panel.panel-warning
      .panel-heading 
        = @match.not_availables.select{|user| user.sections.include? current_section}.size
        Joueurs non dispos
      .list-group
        - @match.not_availables.sort_by(&:full_name).each do |user|
          - if user.sections.include? current_section
            %li.list-group-item
              = user.full_name
              .pull-right
                = button_to section_user_match_availabilities_path(current_section, user, present_ids: [@match.id], checked_ids: [@match.id]), method: :post, class: 'change_presence present text-nowrap' do
                  %strong Dispo ?

  .col-md-4.col-md-offset-1
    .panel.panel-danger
      .panel-heading 
        = @match.availability_not_set.count
        Pas de réponse
      .list-group
        - @match.availability_not_set.sort_by(&:full_name).each do |user|
          %li.list-group-item
            = user.full_name
            .pull-right
              = button_to section_user_match_availabilities_path(current_section, user, present_ids: [@match.id], checked_ids: [@match.id]), method: :post, class: 'change_presence present text-nowrap' do
                %strong Dispo ?
