%p
  %b Compétition :
  = @match.championship.name
%p
  %b Locaux :
  = @match.local_team.name
%p
  %b Visiteurs :
  = @match.visitor_team.name
%p
  %b Date
  = @match.date
%p
  %b Local score :
  = @match.local_score
%p
  %b Visitor score :
  = @match.visitor_score
%p
  %b Location :
  = @match.location.try(:name)
%p
  %b Meeting datetime :
  = @match.meeting_datetime
%p
  %b Meeting location :
  = @match.meeting_location

= link_to 'Edit', edit_section_championship_match_path(current_section, @match.championship, @match)
