<div id="<%= dom_id absence %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= absence.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Start at:</strong>
    <%= absence.start_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">End at:</strong>
    <%= absence.end_at %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= absence.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comment:</strong>
    <%= absence.comment %>
  </p>

</div>
