.navbar.navbar-inverse{role: :navigation}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    - if current_section
      = link_to current_section.to_s, current_section, {class: "navbar-brand #{active_if_current_path(section_path(current_section))}"}
    - else
      = link_to 'Accueil', root_path, {class: 'navbar-brand'}
  .collapse.navbar-collapse
    - if current_section
      %ul.nav.navbar-nav.navbar-left
        %li{class: active_if_current_path(section_users_path(current_section))}
          = link_to "Membres", section_users_path(current_section)
        %li{class: active_if_current_path(section_trainings_path(current_section))}
          = link_to "Entrainements", section_trainings_path(current_section)
        %li{class: active_if_current_path(section_groups_path(current_section))}
          = link_to "Groupes", section_groups_path(current_section)
        %li{class: active_if_current_path(section_championships_path(current_section))}
          = link_to "Compétitions", section_championships_path(current_section)
        %li{class: active_if_current_path(section_duty_tasks_path(current_section))}
          = link_to "Tigs", section_duty_tasks_path(current_section)
        - if current_user.coach_of?(current_section)
          %li{class: active_if_current_path(new_section_sms_notification_path(current_section))}
            = link_to "Notification SMS", new_section_sms_notification_path(current_section)
    %ul.nav.navbar-nav.navbar-right.user
      %li= switch_user_select
      %li.dropdown
        %a.dropdown-toggle{'data-toggle' => 'dropdown', href: '#'}
          = current_user.email
          %span.glyphicon.glyphicon-chevron-down
        %ul.dropdown-menu{role: 'menu'}
          - if current_section
            %li= link_to current_section.club.to_s, current_section.club
            %li.divider
          - current_user.sections.includes(:club).each do |section|
            %li= link_to section.to_s, section
          %li.divider
          - if current_section
            %li= link_to 'Editer son profil', edit_section_user_path(current_user, section_id: current_section.to_param)
          - else
            %li= link_to 'Editer son profil', edit_user_path(current_user)
          %li= link_to 'Changer de mot de passe', edit_user_registration_path
          %li= link_to 'Déconnexion', destroy_user_session_path, :method=>'delete'


